{% if SBBRIDGE_STATSPERM_SINGLE && !SBBRIDGE_COMBO %}
	{% if (STATSPERM_STATS || STATSPERM_NEWEST) %}
		<div>
			<h3>{{ lang('STATISTICS') }}</h3>
			<p>
				{% EVENT index_body_block_stats_prepend %}
				{% if STATSPERM_STATS %}
					{{ TOTAL_POSTS }} &bull; {{ TOTAL_TOPICS }} &bull; {{ TOTAL_USERS }}
				{% endif %}
				{% if STATSPERM_NEWEST %}
					{{ STATSPERM_STATS ? ' &bull; '}}{{ SBBRIDGE_NEWEST_USER }}
				{% endif %}
				{% EVENT index_body_block_stats_append %}
			</p>
		</div>
	{% endif %}
{% endif %}

{% if SBBRIDGE_NXU_SINGLE && !SBBRIDGE_COMBO %}
	{% if NEWEST_X_USERS_ACTIVATED  %}
		<div>
			<h3>{{ lang('STATISTICS') }}</h3>
			<p>
				{% EVENT index_body_block_stats_prepend %}
				{{ TOTAL_POSTS }} &bull; {{ TOTAL_TOPICS }} &bull; {{ TOTAL_USERS }} {% if U_ACP || !NEWEST_X_USERS_ADMINMODE %}&bull; {{ NEWEST_X_USER }}{% for newest_x_users in loops.newest_x_users %}{% if newest_x_users.S_ROW_COUNT > 0 %}{{ lang('COMMA_SEPARATOR') }}{% endif %} {{ newest_x_users.NEWEST_X_USERS }}{% endfor %}{% else %} &bull; {{ SBBRIDGE_NEWEST_USER }}{% endif %}
				{% EVENT index_body_block_stats_append %}
			</p>
		</div>
	{% else %}
	<div>
			<h3>{{ lang('STATISTICS') }}</h3>
			<p>
				{% EVENT index_body_block_stats_prepend %}
				{{ TOTAL_POSTS }} &bull; {{ TOTAL_TOPICS }} &bull; {{ TOTAL_USERS }} &bull; {{ SBBRIDGE_NEWEST_USER }}
				{% EVENT index_body_block_stats_append %}
			</p>
		</div>
		
	{% endif %}
{% endif %}


{% if SBBRIDGE_COMBO && (STATSPERM_STATS || STATSPERM_NEWEST) %}
	<div>
		<h3>{{ lang('STATISTICS') }}</h3>
		<p>
			{% EVENT index_body_block_stats_prepend %}
			{% if STATSPERM_STATS %}
				{{ TOTAL_POSTS }} &bull; {{ TOTAL_TOPICS }} &bull; {{ TOTAL_USERS }}
			{% endif %}
			{% if STATSPERM_NEWEST && !NEWEST_X_USERS_ACTIVATED  %}
			{{ STATSPERM_STATS ? ' &bull; '}}{{ SBBRIDGE_NEWEST_USER }}
			{% endif %}
			{% if STATSPERM_NEWEST && NEWEST_X_USERS_ACTIVATED  %}
				{% if U_ACP || !NEWEST_X_USERS_ADMINMODE %}{{ STATSPERM_STATS ? ' &bull; '}}{{ NEWEST_X_USER }}{% for newest_x_users in loops.newest_x_users %}{% if newest_x_users.S_ROW_COUNT > 0 %}{{ lang('COMMA_SEPARATOR') }}{% endif %} {{ newest_x_users.NEWEST_X_USERS }}{% endfor %}{% else %} &bull; {{ SBBRIDGE_NEWEST_USER }}{% endif %}
			{% endif %}
			{% EVENT index_body_block_stats_append %}
		</p>
	</div>
{% endif %}

{% if SBBRIDGE_NO_EXT %}
	<div>
		<h3>{{ lang('STATISTICS') }}</h3>
		<p>
			{% EVENT index_body_block_stats_prepend %}
			{{ TOTAL_POSTS }} &bull; {{ TOTAL_TOPICS }} &bull; {{ TOTAL_USERS }} &bull; {{ SBBRIDGE_NEWEST_USER }}
			{% EVENT index_body_block_stats_append %}
		</p>
	</div>
{% endif %} 

{% if SBBRIDGE_WWH2 %}
	{% if LFWWH_SHOW && LFWWH_POS b-and 2 %}
		{% if LFWWH_POS == 7 %}
			{% set lfwwh_pos_hint = lang('LFWWH_TEMPLATE_POS_BOTTOM') %}
		{% endif %}
		{% INCLUDE '@chris1278_statblockbridge/statblockbridge.html' %}
	{% endif %}

{% endif %}

