{% if SBBRIDGE_STATSPERM %}
{% if STATSPERM_STATS || STATSPERM_NEWEST %}
	<h3>{{ lang('STATISTICS') }}</h3>
	<p>
		{% EVENT index_body_block_stats_prepend %}
			{% if STATSPERM_STATS %}
				{{ TOTAL_POSTS }} &bull; {{ TOTAL_TOPICS }} &bull; {{ TOTAL_USERS }}
			{% endif %}
			{% if STATSPERM_NEWEST %}
				{{ STATSPERM_STATS ? ' &bull; '}}{{ NEWEST_USER_STATSPERM }}
			{% endif %}
		{% EVENT index_body_block_stats_append %}
	</p>
{% endif %}
{% else %}
{% if !S_KIRK_NEWEST_X_USERS_ENABLE %}
	{% if SBBRIDGE_NEWEST %}
		<h3>{{ lang('STATISTICS') }}</h3>
		<p>
			{% EVENT index_body_block_stats_prepend %}
			{{ TOTAL_POSTS }} &bull; {{ TOTAL_TOPICS }} &bull; {{ TOTAL_USERS }} &bull; {{ SBBRIDGE_NEWEST}}
			{% EVENT index_body_block_stats_append %}
		</p>
	{% endif %}
{% endif %}
{% endif %}

{% if SBBRIDGE_WWH2 %}
{% if (LFWWH_TOTAL || LFWWH_USERS) && LFWWH_POS b-and 2 %}
	{% if LFWWH_POS == 7 %}
		{% set lfwwh_pos_hint = lang('LFWWH_TEMPLATE_POS_BOTTOM') %}
	{% endif %}
	{% INCLUDE '@chris1278_statblockbridge/statblockbridge.html' %}
{% endif %}
{% endif %}

