{% INCLUDECSS '@chris1278_statblockbridge/css/acp_statblockbridge.css' %}
{% include 'overall_header.html' %}

{% set switch_type = TOGGLECTRL_TYPE ?? 'toggle' %}

<h1>{{ lang('SBBRIDGE_TITLE') }}</h1>
	<p>{{ lang('SBBRIDGE_CONFIG_DESC', SBBRIDGE_EXT_NAME, SBBRIDGE_EXT_VER) }}</p>

{% if SBBRIDGE_S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ SBBRIDGE_ERROR_MSG }}</p>
	</div>
{% endif %}

{% if SBBRIDGE_STATBLOCKINFO %}
	<fieldset class="statblock_notice">
		{{ SBBRIDGE_STATBLOCKINFO }}
	</fieldset>
{% endif %}


{% if SBBRIDGE_NOTES %}
	<div class="errorbox notice">
		{{ SBBRIDGE_NOTES }}
	</div>
{% endif %}

<form id="chris1278_statblockbridge_acp" name="chris1278_statblockbridge_acp" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('SETTINGS') }}</legend>
		<dl>
			<dt>
				<label>{{ lang('SBBRIDGE_WWH2') ~ lang('COLON') }}</label><br><span>{{ lang('SBBRIDGE_WWH2_EXPLAIN') }}</span>
			</dt>
			{% if SBBRIDGE_WWH2_CHANGE %}
				<dd>
					{{ _self.switch('sbbridge_wwh2', SBBRIDGE_WWH2, switch_type) }}
				</dd>
			{% else%}
				<dd>
					{{ SBBRIDGE_WWH2_NOT }}
				</dd>
			{% endif %}
		</dl>
		<dl>
			<dt>
				<label>{{ lang('SBBRIDGE_STATSPERM') ~ lang('COLON') }}</label><br><span>{{ lang('SBBRIDGE_STATSPERM_EXPLAIN') }}</span>
			</dt>
			{% if SBBRIDGE_STATSPERM_CHANGE %}
				<dd>
					{{ _self.switch('sbbridge_statsperm', SBBRIDGE_STATSPERM, switch_type) }}
				</dd>
			{% else%}
				<dd>
					{{ SBBRIDGE_STATSPERM_NOT }}
				</dd>
			{% endif %}
		</dl>
	</fieldset>
	{% if SBBRIDGE_WWH2_CHANGE || SBBRIDGE_STATSPERM_CHANGE %}
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
		{{ S_FORM_TOKEN }}
	</fieldset>
	{% endif %}
	<p class="chris1278_acp_copyright">
		<b>{{ SBBRIDGE_EXT_NAME }}</b> &copy; Chris1278<br>
		{{ lang('SBBRIDGE_LANG_DESC') }} {{ lang('SBBRIDGE_LANG_EXT_VER') }} &bull; {{ lang('SBBRIDGE_LANG_AUTHOR') }}
	</p>
</form>
{% include 'overall_footer.html' %}

{% macro switch(name, checked = false, type = 'toggle') -%}
	{% if type == 'toggle' || type == 'checkbox' -%}
		<input type="checkbox" class="{{ type }}" name="{{ name }}" value="1"{{ checked ? ' checked' }}>
	{%- elseif type == 'radio' -%}
		<label><input type="radio" class="radio" name="{{ name }}" value="1"{{ checked ? ' checked' }}> {{ lang('YES') }}</label>
		<label><input type="radio" class="radio" name="{{ name }}" value="0"{{ !checked ? ' checked' }}> {{ lang('NO') }}</label>
	{%- endif %}
{%- endmacro %}
